@media (max-width: 375px){

  p {font-size: 16px;}
  .top-section {
    width: 92%;
    padding: 15px 20px;
  }

  .top-section .column .balance {
    font-size: 1.3em;
  }

  .top-section .column p {
    font-size: 14px;
  }

  .btn.refresh {
    width: 35px;
    height: 35px;
  }

  .btn.refresh::after {
    width: 35px;
    height: 35px;
  }

  .main-content {
    width: 92%;
    padding: 15px 20px;
  }

  .main-content h2 {
    font-size: 1.2em;
  }

  .statistic-bar .column {
    padding: 0 2px;
    margin: 0 2px;
  }

  .statistic-bar .column .bar {
    width: 30px;
  }

  .popup-title {
    font-size: 14px;
  }

  .main-summary .summary-amount-title {
    font-size: 1.6em;
  }
}