* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primary-Soft-red: hsl(10, 79%, 65%);
  --Primary-Cyan: hsl(186, 34%, 60%);

  --Neutral-Dark-brown: hsl(25, 47%, 15%);
  --Neutral-Medium-brown: hsl(28, 10%, 53%);
  --Neutral-Cream: hsl(27, 66%, 92%);
  --Neutral-Very-pale-orange: hsl(33, 100%, 98%);

  --Primary-font: 'DM Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--Neutral-Cream);
}